{%extends 'base.html'%}
{%load static%}

 {% block content %}
 {{block.super}}
 {% include 'navbar.html' %}


<div class="row" style="margin-top: 100px;">
    <div class="col-md-3"></div>
    <div class="row col-md-6">

        <!-- status -->
<div>
    <section class="mains">
        <div class="wrapper">
            <div class="left-col">
                <div class="status-wrapper">
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'images/oesteen.jpg'%}" alt=""></div>
                        <p class="username">Joel Osteen</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'images/ronaldo.jpg'%}" alt=""></div>
                        <p class="username">CR7</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'images/uda.jpg'%}" alt=""></div>
                        <p class="username">William Ruto</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'images/attacho.png'%}" alt=""></div>
                        <p class="username">Za Attacho</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'images/robert.jpg'%}" alt=""></div>
                        <p class="username">Robert Myner</p>
                    </div>
                    
            </div>
        </div>
    </section>
</div>


        {% for post in images %}
        <section class="main">
            <div class="wrapper">
                <div class="left-col">
        
                    <div class="post">
                        <div class="info">
                            <div class="user">
                                <div class="profile-pic"><img src="{{post.image_path.url}}" alt=""></div>
                                <p class="username">{{post.user.username}}</p>
                            </div>
                        
                        </div>
                        <img src="{{post.image_path.url}}" class="post-image" alt="">
                        <div class="post-content">
                            <div class="reaction-wrapper">
                                <span class="icons" style="padding-right: 25px;"> <a href=""> <i class="far fa-heart"></i></i></a></span>
                                <span class="icons" style="padding-right: 25px;"> <a href="{%url 'new_comment'%}"> <i class="far fa-comment"></i></a> </span>
                                <i class="far fa-paper-plane"></i>
                            </div>
                            <p class="likes">11 likes</p>
                            <p class="description"><span>{{post.user.username}} </span> {{post.caption}}</p>
                            <p class="post-time">{{post.post_date}}</p>
                        </div>
                        <a href="{%url 'new_comment'%}"> <div class="comment-wrapper">
                            <i class="fa fa-smile-o" style="font-size:24px; padding-left: 10px;" class="icon"><i class="fas fa-smile"></i></i>
                            <input type="text" class="comment-box" placeholder="Add a comment">
                            <button class="comment-btn">post</button>
                        </div></a>
                    </div>
                </div>
            </div>
        </section>
        {% empty %}
        <p>There are no posts yet</p>
        {% endfor %}

       
    </div>
  
    <div class="col-md-3"></div>
</div>

{% endblock %}