<nav class="navbar navbar-inverse" style="color: aqua;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href=""><span style="font-family: 'Ma Shan Zheng', cursive;">I</span><span style="font-family: 'Cookie', cursive;">nstagram_clone</span></a>
      </div>
  
      <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 navbar-right">
  
        <form class="navbar-form" role="search" action="">
  
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Article" name="article">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
  
        </form>
      </div>
      <!-- search form end -->
  
      <div class="col-sm-6 col-md-6">
        {% if user.is_authenticated %}
        <ul>
          <li class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Account
                      <span class="caret"></span>
                  </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a href="{%url 'newsToday'%}" class="dropdown-item">Home</a>
              </li>
              <li>
                <a href="{%url 'new-article'%}" class="dropdown-item">Create Article</a>
              </li>
              <li>
                <a href="/accounts/password/change" class="dropdown-item">Change Password</a>
              </li>
              <li>
                <a href="accounts/logout" class="dropdown-item">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>
  
        <p></p>
  
        {% endif %}
      </div>
    </div>
  </nav>
  
  