<div class="navigation">
    <div class="logo">
      <a class="no-underline" href="#">
        <a class="navbar-brand" href=""><span style="font-family: 'Ma Shan Zheng', cursive; font-size: 120%;">I</span><span style="font-family: 'Cookie', cursive; font-size: 120%">nstagram</span></a><span style="color: lightgray;font-size: 60%;">By Myner Dev</span>
      </a>
    </div>
    
    <form class="navigation-search-container" role="search" action="{% url 'search_results' %}">
      <i class="fa fa-search"></i>
      <input class="search-field" type="search" placeholder="Search e.g Nature" name="image_name">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <div class="search-container">
        <div class="search-container-box">
          <div class="search-results">
  
          </div>
        </div>
      </div>
    </form>
    <div class="navigation-icons">
      <a href="{%url 'welcome'%}" class="dropdown-item">
        <i class="fas fa-home"></i>
      </a>
      <a href="{%url 'new_image'%}" class="dropdown-item">
        <i class="far fa-paper-plane"></i>
      </a>
      <a href="" target ="_blank" class="navigation-link">
        <i class="far fa-compass"></i>
      </a>
      <a class="navigation-link notifica">
        <i class="far fa-heart">
          <div class="notification-bubble-wrapper">
            <div class="notification-bubble">
              <span class="notifications-count">99</span>
            </div>
          </div>
        </i>
      </a>
     
    
    </div>
    <div class="">
      {% if user.is_authenticated %}
      <ul>
        <li class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="far fa-user-circle"></i>
                    <span class="caret"></span>
                </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a href="{%url 'welcome'%}" class="dropdown-item">Home</a>
            </li>
            <li>
              <a href="{%url 'new_image'%}" class="dropdown-item">Create Post</a>
            </li>
            <li>
              <a href="{%url 'profile'%}" class="dropdown-item">My Profile</a>
            </li>
            <li>
              <a href="/accounts/password/change" class="dropdown-item">Change Password</a>
            </li>
            <li>
              <a href="accounts/logout" class="dropdown-item">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
      {% else %}
      <li>
        <a class='btn btn-default' href="/accounts/login" class="dropdown-item">Login</a>
      </li>

      {% endif %}
    </div>
  </div>